:root {
    --black: #373737;
    --sect-1: #2196f3;
    --sect-2: #e63232;
    --sect-3: #ab8a51;
    --sect-4: #098141;
    --sect-5: #810945;
}

* {
    box-sizing: border-box; /* 包含边框和内边距在内的宽高计算 */
}

html {
    scroll-behavior: smooth;
    font-family: 'Arial', sans-serif; /* 使用 Arial 字体 */
}

body {
    margin: 0;
    padding: 0;
    transition: all 0.5s ease 0s;
    background-color: #f4f4f4; /* 浅灰色背景 */
}

header {
    width: 100%;
    background-color: var(--black);
    padding: 10px 0; /* 顶部和底部内边距 */
}

nav {
   
    display: flex;
    justify-content: center; /* 中心对齐 */
}

nav a {
    text-decoration: none; /* 去掉下划线 */
    color: #fff; /* 链接文字颜色 */
    padding: 15px 25px; /* 内边距 */
    transition: background-color 0.3s; /* 背景颜色过渡效果 */
}

nav a:hover {
    background-color: var(--sect-1); /* 悬停时的背景颜色 */
}

section {
    height: 100vh; /* 每个部分高度为视口高度 */
    display: flex;
    flex-direction: column; /* 垂直排列 */
    justify-content: center; /* 垂直居中 */
    align-items: center; /* 水平居中 */
    color: #fff; /* 字体颜色 */
    padding: 30px; /* 内边距 */
}

#css { background-color: var(--sect-1); }
#html { background-color: var(--sect-2); }
#js { background-color: var(--sect-3); }
#php { background-color: var(--sect-4); }
#sql { background-color: var(--sect-5); }

h2 {
    margin: 0; /* 去掉默认外边距 */
    font-size: 3rem; /* 标题字体大小 */
}

p {
    font-size: 1.5rem; /* 段落字体大小 */
    text-align: center; /* 文字居中 */
}